<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <style>
        /*#region Formato de paginas PDF - A4 _ Documento en general*/
        :root{
          --verde: #008C45;
          --gris: #636363;
          --vainilla: #F4F8DF;
        }
        body {
            background: rgb(204,204,204);
            font-family: 'Manrope', sans-serif;
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }

        page[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }
        .footer {
            position: static;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
        .pNota{
            font: 9pt "Tahoma";
        }
        /* #endregion*/
        /*#region PAGE2 */
        /* Card */
        .card-header{
            background-color: #00CC33;
        }
        /*Tabla comparatiba - Combinaciones*/
        .comparison {
            max-width:940px;
            margin:0 auto;
            font:13px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
            text-align:center;
            padding:10px;
        }
        .comparison table {
            width:100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
            border-bottom:1px solid #CCC;
        }
        .comparison td, .comparison th {
            border-right:1px solid #CCC;
            empty-cells: show;
            padding:10px;
        }
        .compare-heading {
            font-size:18px;
            font-weight:bold !important;
            border-bottom:0 !important;
            padding-top:10px !important;
        }
        .comparison tbody tr:nth-child(odd) {
            display:none;
        }
        .comparison .compare-row {
            background:#F5F5F5;
        }
        .comparison th {
            font-weight:normal;
            padding:0;
            border-bottom:1px solid #CCC;
        }
        .comparison tr td:first-child {
            text-align:left;
        }
        .comparison .qbse, .comparison .tl {
            color:#FFF;
            padding:10px;
            font-size:13px;
            border-right:1px solid #CCC;
            border-bottom:0;
        }
        .comparison .tl2 {
            border-right:0;
        }
        .comparison .qbse {
            background:#00CC33;
            border-top-left-radius: 3px;
            border-left:0px;
        }
        /* #endregion */
        /*#region  PAGE4 */
        .tabFinanciamiento {
            background-color: #3A565E;
            border-collapse: collapse;
            border-radius: 20px;
            overflow: hidden;
        }
        .tabFinanciamientothtd{
            border: 3px solid white;
            color: white;
        }
        /*#endregion */
    </style>
    <body>
        <!-- Page2_ResumenPropuesta -->
        <page size="A4">
            <!-- #Header -->
            <section class="container-fluid p-2 hdDatosCliente">
                <div class="row">
                  <div class="col-sm-3">
                    <img src="https://etesla.mx/wp-content/uploads/2019/05/eTesla-Logo-2-01.png" height="70px" width="150px">
                  </div>
                  <div class="col-sm-9">
                    <div class="row mt-1">
                        <div class="col-sm-6 d-flex">
                          <p class="etqTextoBold">Asesor:</p>
                          <p class="etqTexto">{{ vendedor.nombre }}</p>
                        </div>
                        <div class="col-sm-6 d-flex">
                          <p class="etqTextoBold">Cliente:</p>
                          <p class="etqTexto">{{ cliente.nombre }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 d-flex">
                            <p class="etqTextoBold">Sucursal:</p>
                            <p class="etqTexto">{{ vendedor.sucursal }}</p>
                        </div>
                        <div class="col-sm-9 d-flex">
                            <p class="etqTextoBold">Dirección:</p>
                            <p class="etqTexto">{{ cliente.direccion }}</p>
                        </div>
                    </div>
                  </div>
                </div>
            </section>
            <!-- #Fin_Header -->
            <!-- #Body -->
            <div class="container-fluid">
            <div class="card">
                <div class="card-header text-white">Propuesta de {{ propuesta.0.paneles.potencia }} W</div>
                <div class="card-body table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Cantidad</th>
                                <th style="text-align:center;">Concepto</th>
                                <th style="text-align:center;">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#with propuesta}}
                                <tr>
                                    <td id="tdCantidadPaneles" class="etqTexto" align="center">{{ 0.paneles.noModulos }}</td>
                                    <td class="etqTexto">{{ 0.paneles.nombre }}</td>
                                    <td id="tdPrecioPaneles" class="etqTexto" align="center">{{ 0.paneles.costoTotal }}$</td>
                                </tr>
                                <tr>
                                    <td id="tdCantidadInversores" class="etqTexto" align="center">{{ 0.inversores.numeroDeInversores }}</td>
                                    <td class="etqTexto">{{ 0.inversores.vNombreMaterialFot }}</td>
                                    <td id="tdPrecioPrecioInversores" class="etqTexto" align="center">{{ 0.inversores.precioTotal }}$</td>
                                </tr>
                                <tr>
                                    <td class="etqTexto" align="center"></td>
                                    <td class="etqTexto">Kit de estructuras de aluminio especiales para modulos fotovoltaicos</td>
                                    <td id="tdPrecioEstructuras" class="etqTexto" align="center">{{ 0.paneles.costoDeEstructuras }}$</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="etqTexto">Tramite de CFE</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="etqTexto">Otros materiales electronicos varios para la instalacion, incluye cable fotovoltaico, protecciones electricas</td>
                                </tr>
                            {{/with}}
                        </tbody>
                    </table>
                    <section class="row">
                        <div class="col-8">
                            <div class="form-group row">
                                <div class="col-sm">
                                    <img width="200" height="75" src="https://document-export.canva.com/gg3GQ/DAEKhGgg3GQ/149/thumbnail/4KuZ0yLjh-bJFeXL9vubVQ-0001-12023840483.png">
                                </div>
                                <div class="col-sm">
                                    <img width="200" height="75" src="https://document-export.canva.com/gg3GQ/DAEKhGgg3GQ/151/thumbnail/6KFGipnBq4HBI2zZSVMC3w-0002-12024682665.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <table class="table table-sm table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Subtotal</th>
                                        <th class="text-center">IVA</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {{#with propuesta}}
                                            <td id="subt" class="text-center">{{ 0.totales.totalDeTodo }}$</td>
                                            <td id="iva" class="text-center">{{ 0.totales.precioMasIVA }}$</td>
                                            <td id="total" class="text-center">${{ 0.totales.precioMasIVAMXN }}</td>
                                        {{/with}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            <!-- #TablaComparativba_Combinaciones -->
            <div class="comparison">
                <table>
                        <thead>
                            <tr>
                                <th class="tl tl2"></th>
                                <th class="qbse">Propuesta</th>
                            </tr>
                            <!-- Heading logos -->
                            <tr>
                                <th class="tl"></th>
                                <th id="logosEquipos" class="compare-heading">
                                    <img id="imgPanel" width="60" height="60" src="https://distribuidorsolar.mx/wp-content/uploads/2018/11/PANEL-CANADIAN-SOLAR-345W.jpg">
                                    <img id="imgInversor" width="50" height="50" src="https://cdn.shopify.com/s/files/1/0245/5633/9234/products/81_750x.png?v=1579908568">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- #EtiquetasComparatiba - Contenido -->
                            {{#with propuesta}}
                                <tr>
                                    <td></td>
                                    <td colspan="4">Potencia</td>
                                </tr>
                                <tr>
                                    <td><strong>Potencia</strong></td>
                                    <td class="text-center etqTexto">{{ 0.paneles.potenciaReal }} kW</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="4">Paneles</td>
                                </tr>
                                <tr class="compare-row">
                                    <td><strong>Paneles</strong></td>
                                    <td class="text-center etqTexto">{{ 0.paneles.marca }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="4">Modelo panel</td>
                                </tr>
                                <tr>
                                    <td><strong>Modelo panel</strong></td>
                                    <td class="text-center etqTexto">{{ 0.paneles.nombre }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="4">Procedencia</td>
                                </tr>
                                <tr class="compare-row">
                                    <td><strong>Procedencia</strong></td>
                                    <td class="text-center etqTexto">{{ 0.paneles.origen }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="4">Garantia</td>
                                </tr>
                                <tr>
                                    <td><strong>Garantia</strong></td>
                                    <td class="text-center etqTexto">{{ 0.paneles.garantia }} años</td>
                                </tr>
                                {{#if 0.inversores}}
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Inversor</td>
                                    </tr>
                                    <tr class="compare-row">
                                        <td><strong>Inversor</strong></td>
                                        <td class="text-center etqTexto">{{ 0.inversores.vMarca }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Modelo inversor</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Modelo inversor</strong></td>
                                        <td class="text-center etqTexto" class="text-center">{{ 0.inversores.vNombreMaterialFot }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Procedencia</td>
                                    </tr>
                                    <tr class="compare-row">
                                        <td><strong>Procedencia</strong></td>
                                        <td class="text-center etqTexto" class="text-center">{{ 0.inversores.vOrigen }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Garantia</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Garantia</strong></td>
                                        <td class="text-center etqTexto" class="text-center">{{ 0.inversores.vGarantia }} años</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Inversor</td>
                                    </tr>
                                    <tr class="compare-row">
                                        <td><strong>Inversor</strong></td>
                                        <td class="text-center etqTexto"></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Modelo inversor</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Modelo inversor</strong></td>
                                        <td class="text-center etqTexto" class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Procedencia</td>
                                    </tr>
                                    <tr class="compare-row">
                                        <td><strong>Procedencia</strong></td>
                                        <td class="text-center etqTexto" class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="4">Garantia</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Garantia</strong></td>
                                        <td class="text-center etqTexto" class="text-center"></td>
                                    </tr>
                                {{/if}}
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="4">Costo (USD/MXN)</td>
                                </tr>
                                <tr class="compare-row">
                                    <td><strong>Costo (MXN)</strong></td>
                                    <td class="text-center etqTexto">${{ 0.totales.precioMasIVAMXN }}</td>
                                </tr>
                            {{/with}}
                        <!-- #End_EtiquetasComparatiba - Contenido -->
                        </tbody>
                    </table>
                <br>
                <div class="container-fluid">
                    <div class="form-group row justify-content-center">
                        <p class="pNota"><strong>NOTA: </strong>El tipo de cambio se tomará el reportado por Banorte a la Venta del día en que se realice cada pago. Se requiere de un 50% de anticipo a la aprobación del proyecto, 35% antes de realizar el embarque de equipos, y 15% posterior a la instalación. El proyecto se entrega preparado para conexión con CFE.</p>
                    </div>
                </div>
            </div>
            <!-- #End_TablaComparatiba_Combinaciones -->
            <!-- #Fin_Body -->
            </div>
        </page>
        <!-- End_Page2 -->
        <!-- Page4_Financiamiento -->
        <page size="A4">
            <!-- #Header -->
            <nav class="navbar navbar-expand-sm">
                <div class="navbar-brand">
                    <img src="https://etesla.mx/wp-content/uploads/2019/05/eTesla-Logo-2-01.png" height="70px" width="150px">
                </div>
                <div class="collapse navbar-collapse">
                    <h2>OPCIONES DE</br>FINANCIAMIENTO</h2>
                </div>
            </nav>
            <!-- #Fin_Header -->
            <!-- #Body_4page -->
            <div class="container-fluid">
                <table class="table table-sm tabFinanciamiento">
                    <tr>
                        {{#with propuesta}}
                            <th class="tabFinanciamientothtd">Pago de contado</th>
                            <td class="tabFinanciamientothtd">${{ 0.totales.precioTotalMXN }}</td>
                            <th class="tabFinanciamientothtd" style="background-color: #03BABE;">Ahorro mensual de luz</th>
                            <td class="tabFinanciamientothtd" style="background-color: #03BABE;">${{ 0.roi.ahorro.ahorroMensualEnPesosMXN }}</td>
                            <th class="tabFinanciamientothtd">Retorno de inversión</th>
                            <td class="tabFinanciamientothtd">{{ 0.roi.roiEnAnios }} años</td>
                        {{/with}}
                    </tr>
                </table>
                <table class="table table-sm tabFinanciamiento">
                    <tr>
                        <th class="text-center tabFinanciamientothtd">Tarjeta de credito</th>
                        <th class="text-center tabFinanciamientothtd">3 meses</th>
                        <th class="text-center tabFinanciamientothtd">6 meses</th>
                        <th class="text-center tabFinanciamientothtd">9 meses</th>
                        <th class="text-center tabFinanciamientothtd">12 meses</th>
                        <th class="text-center tabFinanciamientothtd">18 meses</th>
                    </tr>
                    <tr>
                        <th class="text-center tabFinanciamientothtd">Pago mensual</th>
                        {{#with propuesta}}
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objMensualidadesCreditCard.tresMeses }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objMensualidadesCreditCard.seisMeses }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objMensualidadesCreditCard.nueveMeses }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objMensualidadesCreditCard.doceMeses }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objMensualidadesCreditCard.dieciochoMeses }}</td>
                        {{/with}}
                    </tr>
                </table>
                <table class="table table-sm tabFinanciamiento">
                    <tr>
                        <th class="text-center tabFinanciamientothtd">Financiamiento</th>
                        <th class="text-center tabFinanciamientothtd">15%</th>
                        <th class="text-center tabFinanciamientothtd">35%</th>
                        <th class="text-center tabFinanciamientothtd">50%</th>
                    </tr>
                    <tr>
                        <th class="text-center tabFinanciamientothtd">Enganche</th>
                        {{#with propuesta}}
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objEnganche.quincePorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objEnganche.treintacincoPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento.objEnganche.cincuentaPorcent }}</td>
                        {{/with}}
                    </tr>
                </table>
                <table id="tabFinanciamient" class="table table-sm tabFinanciamiento">
                    <tr>
                        <th class="tabFinanciamientothtd">Pagos mensuales</br>por plazo</th>
                        <th class="text-center align-middle tabFinanciamientothtd">15%</th>
                        <th class="text-center align-middle tabFinanciamientothtd">35%</th>
                        <th class="text-center align-middle tabFinanciamientothtd">50%</th>
                    </tr>
                    {{#with propuesta}}
                        <tr>
                            <th class="tabFinanciamientothtd">A 12 meses</th>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.12.fifteenPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.12.thirtyFive }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.12.fiftyPorcent }}</td>
                        </tr>
                        <tr>
                            <th class="tabFinanciamientothtd">A 24 meses</th>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.24.fifteenPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.24.thirtyFive }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.24.fiftyPorcent }}</td>
                        </tr>
                        <tr>
                            <th class="tabFinanciamientothtd">A 36 meses</th>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.36.fifteenPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.36.thirtyFive }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.36.fiftyPorcent }}</td>
                        </tr>
                        <tr>
                            <th class="tabFinanciamientothtd">A 48 meses</th>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.48.fifteenPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.48.thirtyFive }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.48.fiftyPorcent }}</td>
                        </tr>
                        <tr>
                            <th class="tabFinanciamientothtd">A 60 meses</th>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.60.fifteenPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.60.thirtyFive }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.60.fiftyPorcent }}</td>
                        </tr>
                        <tr>
                            <th class="tabFinanciamientothtd">A 72 meses</th>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.72.fifteenPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.72.thirtyFive }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.72.fiftyPorcent }}</td>
                        </tr>
                        <tr>
                            <th class="tabFinanciamientothtd">A 84 meses</th>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.84.fifteenPorcent }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.84.thirtyFive }}</td>
                            <td class="text-center tabFinanciamientothtd">$ {{ 0.financiamiento._pagosMensualesPorPlazo.0.84.fiftyPorcent }}</td>
                        </tr>
                    {{/with}} 
                </table>
            </div>
            <!-- #FinBody_4page -->
        </page>
        <!-- #End_Page4 -->
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
